body {
}

body {
}

myFooterText {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.jumbotron {
    text-align: center;
    background-image: url(images/pianoBig.jpg);
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
}

.jumbotron_footer {
    text-align: right;
}

.vertical-align {
    display: flex;
    align-items: center;
}

blockquote {
    display: block;
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    position: relative;
    /*Font*/
    font-family: Georgia, serif;
    font-size: 32px;
    line-height: 1.2;
    color: black;
    text-align: justify;
    border-left: none;
}

blockquote::before {
    content: "\201C"; /*Unicode for Left Double Quote*/
    /*Font*/
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: black;
    /*Positioning*/
    position: absolute;
    left: 10px;
    top: 5px;
}

blockquote::after {
    /*Reset to make sure*/
    content: "";
}

.jumbotron.missionJumbo {
    text-align: center;
    background-image: url(images/worldMap.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 20%;
    padding-bottom: 20%;
    background-blend-mode: normal;
}

#dropdownMission {
    padding: 15px 30px;
    font-size: 28px;
    border-radius: 0;
    width: 100%;
    background-color: black;
    border: none;
    color: white;
}

.dropdown-menu {
    border-radius: 0;
    background-color: black;
}

.dropdown-menu > li > a {
    padding: 10px 50px;
    font-size: 25px;
    color: white;
}

.dropdown {
    opacity: 0.6;
    font-family: 'HelveticaNeue';
}

.dropdown > ul {
    width: 100%;
}