@{
    ViewBag.Title = "About";
}

<div class="jumbotron" style="background-image: url(../../Content/images/slcTempleTall.jpg); background-blend-mode: normal; margin: 0;">
    <div class="col-md-4 col-md-offset-1">
        <img src="~/Content/images/josephQuoteBlack.jpg" style="opacity: 0.7; width: 60%"/>
    </div>
</div>

<div class="container-fluid" style="background-image: linear-gradient(to bottom, lightgray, white)">
    <div class="row" style="padding: 30px">
        <div class="col-md-6 col-md-offset-2" style="text-align: center">
            <p style="font-size: 20px; font-family: 'Lucida Calligraphy'">"If any of you lacks</p>
        </div>
        <div class="col-md-6 col-md-offset-5">
            <p style="font-size: 100px; font-family: 'Edwardian Script ITC'">Wisdom</p>
        </div>
    </div>
</div>

<div class="jumbotron" style="position: relative; background-image: url(../../Content/images/dottedWorldMap.jpg); background-blend-mode: normal; font-family: Courier New, Courier, monospace">
    <div class="col-md-2" style="position: absolute;  left: 150px; top: 250px; text-align: center; color: white; font-size: 1vw">
        <div class="container vertical-align" style="background-color: black; opacity: 0.7">
            <p>There are currently missionaries serving in over 160 countries!</p>
        </div>
    </div>
    <div class="col-md-2" style="position: absolute;  right: 150px; top: 130px; text-align: center; color: white; font-size: 1vw">
        <div class="container vertical-align" style="background-color: black; opacity: 0.7">
            <p>We answer questions from missions all over the world</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-6" style="text-align: center; font-family: Stencil; color: white; font-size: 3vw">
            <div class="container" style="background-color: black; opacity: 0.7">
                <p>Global Reach</p>
            </div>
        </div>
    </div>
    <div class="col-md-2" style="position: absolute; left: 300px; bottom: 100px; text-align: center; color: white; font-size: 1vw">
        <div class="container" style="background-color: black; opacity: 0.7">
            <p>Our information helps missionaries understand the work in a variety of cultures and religions</p>
        </div>
    </div>
</div>

<div class="row">
    <h2 style="text-align: center; font-family: 'Brush Script MT'; font-size: 80px;">About Us</h2>
    <div class="col-md-4 col-md-offset-4">
        <p style="text-align: center; font-family: 'Lucida Calligraphy'; color: #00bcd4; line-height: 70px; font-size: 20px">
            Called to serve was founded by four returned missionaries who wanted to bring knowledge to prospective
            servants of the Lord! We founded this company with the simple goal of helping young men and women learn
            about serving missions all over the globe and discover answers to questions they might have
        </p>
    </div>
</div>