@{
    ViewBag.Title = "Blow Out!";
}

<!--Jumbotron header - should cover most of the visible web page-->
<div class="jumbotron">
    <div class="container">
        <blockquote>
            It's easy to play any musical instrument: all you have to do is touch the right key at the right time and the instrument will play itself.
            <footer class="jumbotron_footer"><i>- Johann Sebastian Bach</i></footer>
        </blockquote>
        <!--Button goes to Rentals View-->
        <p>@Html.ActionLink("Let's Get Started", "Rentals", "Home", null, new { @class = "btn btn-primary btn-lg" })
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                BlowOut Instrument Rentals is all about letting YOU experience the world of music! Feel free to browse our
                selection of both new and used instruments for rental:
            </p>
            <!--Goes to Rentals View-->
            <p>@Html.ActionLink("Start Browsing >>", "Rentals", "Home", null, new { @class = "btn btn-default" })
        </div>
        <div class="col-md-4">
            <h2>Learn More</h2>
            <p>Curious about who we are and what we do? We've got the answers for you right here:</p><br />
            <!--Goes to About View-->
            <p>@Html.ActionLink("Start Learning >>", "About", "Home", null, new { @class = "btn btn-default" })
        </div>
        <div class="col-md-4">
            <h2>Contact Us</h2>
            <p>We would be happy to answer any questions you might have:</p><br />
            <!--Goes to Contact View-->
            <p>@Html.ActionLink("Send a Message >>", "Contact", "Home", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>